@page
@model AgapayAidSystem.Pages.Family.Profile.ReliefDistributionRecordModel
@{
	ViewData["Title"] = "Relief Distribution Record";
}

<div class="container-fluid">
	<input type="hidden" name="familyID" value="" />
	<div class="row">
		<!-- Sidebar (desktop) -->
		<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block d-none sidebar">
			<div class="position-sticky">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="/family/profile/index?familyID=">Information Board</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/family/profile/ReliefDistributionRecord?familyID=">Relief Distribution Record</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/family/profile/VulnerabilityAssessment?familyID=">Vulnerability Assessment</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Sidebar (mobile) -->
		<div id="sidebarMobile" class="col-md-3 col-lg-2 d-md-none bg-light p-2">
			<select class="form-select" id="pageSelect">
				<option value="/family/profile/index?familyID=">Information Board</option>
				<option value="/family/profile/ReliefDistributionRecord?familyID=">Relief Distribution Record</option>
				<option value="/family/profile/VulnerabilityAssessment?familyID=">Vulnerability Assessment</option>

			</select>
		</div>

		<style>
			#checkOut {
				padding: 0px; /*to align the form to breadcrumb*/
			}
		</style>

		<!-- Page Content -->
		<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-3 pt-3">
			<div class="container">
				<!-- Breadcrumb -->
				<div class="row pb-2" aria-label="breadcrumb">
					<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/index"><i class="bi bi-house-door-fill" style="padding: 5px;"></i>Home</a></li>
							<li class="breadcrumb-item"><a href="/Family/index">Family</a></li>
							<li class="breadcrumb-item active"><a><strong>CSJDM-0000003-2023</strong></a></li>
						</ol>
					</nav>
				</div>

				<div class="row pb-2">
					<div class="col-12 d-flex justify-content-between align-items-center" style="gap: 5px">
						<div class="d-flex align-items-center">
							<h1>Family Relief Distribution</h1>
						</div>
					</div>
				</div>

				<!-- Table -->
				<div class="table-responsive pt-3">
					<table id="distribution-table" class="table display nowrap compact order-column" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>ID</th>
								<th>Pack ID</th>
								<th>Inventory ID</th>
								<th>Staff ID</th>
								<th>Qty</th>
								<th>Disaster</th>
								<th>Date</th>
								<th> </th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<th>REC0000501</th>
								<th>PCK00000113</th>
								<th>INV0000001</th>
								<th>ECS0000001 </th>
								<th>Gaya-gaya Fire</th>
								<th>2</th>
								<th>11/10/2022</th>
								<td>
									View Profile / Delete
								</td>
							</tr>
							<tr>
								<th>REC0000502</th>
								<th>PCK00000127</th>
								<th>FML0000023</th>
								<th>ECS0000005</th>
								<th>Typhoon Betty</th>
								<th>3</th>
								<th>06/23/2022</th>
								<td>
									View Profile / Delete
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		$('#distribution-table').DataTable({
			responsive: true,
			columnDefs: [
				{ "orderable": true, "targets": [0, 1, 2, 3, 4, 5, 6] }, // Make the first five columns sortable
				{ "orderable": false, "targets": 7 } // Make the sixth column non-sortable
			]

		});
	});
</script>