@page
@model AgapayAidSystem.Pages.Login.LoginModel
@{
}


<style>
	.custom-button {
		background-color: #3F8F8B; 
		color: white; 
	}



</style>

<div class="container rounded border" style="padding:20px" >
	<form method="post">
		@* for validation *@
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>

	
		<div style="text-align:right">

			@* UserName *@
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="Credential.UserName"></label>
				</div>
			
				<div style="padding-bottom:10px"></div>

				<div class="col-7" >
					<div style="padding-left:430px">
						<input type="text" asp-for="Credential.UserName" class="form-control"/>
					</div>
				</div>
				<span class="text-danger" asp-validation-for="Credential.UserName"></span>
			</div>
		

			@* Padding *@
			<div style="padding-top:15px"></div>

			@* Password *@
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="Credential.Password"></label>
				</div>

				<div style="padding-bottom:10px"></div>

				<div class="col-7">
					<div style="padding-left:430px">
						<input type="password" asp-for="Credential.Password" class="form-control"/>
					</div>
				</div>
				<span class="text-danger" asp-validation-for="Credential.Password"></span>
			</div>
		

			@* Padding *@
			<div style="padding-top:30px"></div>

			@* Submit button *@
			<div class="form-group row">
				<div class="col-7">
					<div style="padding-left:140px">
					<input type="submit" class="btn custom-button col-md-6" value="Login" />
					</div>
				</div>

				<div class="col-5">
				</div>
			</div>

		</div>

	</form>
</div>
