@page
@model AgapayAidSystem.Pages.Disaster.Profile.reliefgoodspack.ViewModel
@{
}

<div class="container p-2">

    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="#">Disaster</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Typhoon Pedro</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Relief Pack</a></li>
        </ul>
    </div>

    <div class="row description p-2">
        <p>
            <strong>Pack ID:</strong>
            PCK00000107
        </p>
        <p>
            <strong>Staff ID:</strong>
            ECS0000005
        </p>
        <p>
            <strong>Quantity:</strong>
            100
        </p>
        <p>
            <strong>Distributed:</strong>
            0
        </p>
        <p>
            <strong>Not Distributed:</strong>
            100
        </p>
        <p>
            <strong>Status:</strong>
            100
        </p>
    </div>

    <div class="row p-2">
        <div class="col-lg-12">
            <table id="pack-inclusion" class="table display compact order-column table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="20%">Item Name</th>
                        <th width="15%">Type</th>
                        <th width="15%">Qty</th>
                        <th width="15%">Distributed ID</th>
                        <th width="15%">Not Distributed</th>
                        <th width="15%">Unit Measure</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="5%">1</td>
                        <th width="15%">Canned Goods</th>
                        <td width="15%">Food</td>
                        <td width="15%">500</td>
                        <td width="15%">500</td>
                        <td width="15%">0</td>
                        <td width="15%">Piece</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Making the table responsive -->
<script>
    $(document).ready(function () {
        $('#pack-inclusion').DataTable({
            responsive: true,
        });
    });
</script>