@page
@model AgapayAidSystem.Pages.Disaster.Profile.AssignStaffModel
@{
	ViewData["Title"] = "Assign Staff";
	Layout = "_DisasterProfile";
}

<div class="container p-2 form-container">

    <div class="container mt-4 form-container-content">

        <div class="row">
            <div class="col text-center">
                <h1>Assign Staff</h1>
            </div>
        </div>
        <form method="POST" action="/YourServerEndpoint">
            <div class="row pt-4">
                <div class="col">
                    <div class="search-container">
                        <div class="input-group">
                            <input type="search" class="form-control ds-input" id="search-bar" name="search" placeholder="Search here..." aria-label="Search..." autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4">
                <div class="table-responsive">
                    <table class="table align-middle table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Sex</th>
                                <th>Birthdate</th>
                                <th>Assign a Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- SAMPLE DATA-->
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <label class="form-check-label"></label>
                                    </div>
                                </td>
                                <td>EVC0000001</td>
                                <td>Juanito Santos</td>
                                <td>F</td>
                                <td>08/30/2023</td>
                                <td>
                                    <select class="form-select" name="ecroleType" required>
                                        <option value="" selected disabled>Select a role</option>
                                        <option value="#">Assistant Manager</option>
                                        <option value="#">EC Staff</option>
                                        <option value="#">Manager</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Cancel and Save Button -->
                    <div class="button-spacer">
                        <a class="btn btn-outline-secondary mr-10" href="/disaster/profile/staffassignment">Cancel</a>
                        <button type="submit" class="btn btn-primary" name="saveSelection">Save Selection</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
