@page
@model AgapayAidSystem.Pages.UserManagement.CreateModel
@{
	ViewData["Title"] = "New User";
}

<div class="container p-2">
	<div class="container mt-4 disaster-form-container">

		<div class="row pt-4">
			<div class="col text-center">
				<h1>Add New User</h1>
			</div>
		</div>

		@if (!string.IsNullOrEmpty(Model.errorMessage))
		{
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>@Model.errorMessage</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}

		<div class="row pt-4">
			<form method="POST">
				<div class="row mb-3 user-container justify-content-center">
					<div class="col-md-4">
							<label class="form-label">User Type:</label>

							<div class="form-check d-flex align-items-center">
								<input class="form-check-input" type="radio" name="userType" value="Admin" id="adminRadio"
								@if (Model.userInfo.userType == "Admin")
								{
									<text>checked</text>
								}>
								<label class="form-check-label" for="adminRadio">Admin</label>
							</div>

							<div class="form-check d-flex align-items-center">
								<input class="form-check-input" type="radio" name="userType" value="LGU Staff" id="lguRadio"
								@if (Model.userInfo.userType == "LGU Staff")
								{
									<text>checked</text>
								}>
								<label class="form-check-label" for="lguRadio">LGU Staff</label>
							</div>
							
							<div class="form-check d-flex align-items-center">
								<input class="form-check-input" type="radio" name="userType" value="EC Staff" id="ecRadio"
								@if (Model.userInfo.userType == "EC Staff")
								{
									<text>checked</text>
								}>
								<label class="form-check-label" for="ecRadio">EC Staff</label>
							</div>
					</div>
				</div>

				<input type="hidden" name="userInfo.userType" value="@Model.userInfo.userType" />
				<input type="hidden" name="userInfo.userID" value="@Model.userInfo.userID" />

				@if (!string.IsNullOrEmpty(Model.successMessage))
				{
					<div class="row-mb-3">
						<div class="col-sm-9">
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>@Model.successMessage</strong>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
				}

				<!-- Cancel and Save Button -->
				<div class="button-spacer">
					<a class="btn btn-outline-secondary mr-10" href="/UserManagement/Index" role="button">Cancel</a>
					<button type="submit" class="btn btn-primary" id="submitBtn">Next
						<i class="bi bi-arrow-right" style="padding:5px"></i></button>
				</div>

			</form>
		</div>
	</div>
</div>


<script>
	const submitButton = document.getElementById('submitBtn');
	const form = document.querySelector('form');

	// Disable the submit button by default
	submitButton.disabled = true;

	// Function to check form validity and enable/disable the submit button
	function checkFormValidity() {
		if (form.checkValidity()) {
			submitButton.disabled = false;
		} else {
			submitButton.disabled = true;
		}
	}

	// Add an event listener for the input event on form elements
	form.addEventListener('input', checkFormValidity);
</script>