@page
@model AgapayAidSystem.Pages.Disaster._DisasterProfileModel
@{
}



<div class="content">
	<div class="head-title">
		<div class="left">
			<h1>Gaya Gaya Fire</h1>
		</div>

		<a asp-page="/Disaster/_AddDisaster" class="btn btn-primary mb-2"><i class="bi bi-plus-circle pt" style="padding: 5px;"></i> Add Disaster</a>
    </div>

    <div class="info-container">
        <div class="info-pair">
            <span class="info-label">Type:</span>
            <span class="info-value">Fire</span>
        </div>
        <div class="info-pair">
            <span class="info-label">Description:</span>
            <span class="info-value">Started on LPG explosion. Engulfing several high-rise buildings and residential areas.</span>
        </div>
        <div class="info-pair">
            <span class="info-label">Date Occurred:</span>
            <span class="info-value">11/07/2022</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="box-info">
                <div class="info-item">
                    <i class="bi bi-person-fill"></i>
                    <div class="text">
                        <h3>1.53k</h3>
                        <p>New Orders</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box-info">
                <div class="info-item">
                    <i class="bi bi-person-fill"></i>
                    <div class="text">
                        <h3>1.54k</h3>
                        <p>New Package</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box-info">
                <div class="info-item">
                    <i class="bi bi-person-fill"></i>
                    <div class="text">
                        <h3>1.55k</h3>
                        <p>New Menu</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box-info">
                <div class="info-item">
                    <i class="bi bi-person-fill"></i>
                    <div class="text">
                        <h3>1.56k</h3>
                        <p>New Items</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>