@page
@model AgapayAidSystem.Pages.Disaster.Entry_LogModel
@{
}


<div class="row pt-4">
    <div class="col">
        <h1>Evacuation Center</h1>
        <span class="badge bg-success">Active</span>
    </div>
</div>

<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Entry Log</a>
    </li>

    <li class="nav-item nav-justified">
        <a class="nav-link" href="#">Staff Assignment</a>
    </li>

    <li class="nav-item nav-justified">
        <a class="nav-link" href="#">Relief Goods Pack</a>
    </li>
    
    <li class="nav-item nav-justified">
        <a class="nav-link" href="#">Distribution</a>
    </li>

    <li class="nav-item nav-justified">
        <a class="nav-link" href="#">Vulnerability Assessments</a>
    </li>

</ul>