@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 0.3s linear;
}


:root {
    --bs-primary-color: #3F8F8B;
}


h1 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h5 {
    font-weight: 500;
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.bi{
    padding-right: 5px;
}

.form-container {
    background-color: #F6F8FB;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 50px;
}

.form-container-content {
    padding: 30px;
}

.button-spacer {
    text-align: center;
}

body {
    margin-bottom: 60px;
    background: #F6F8FB;
}

.button-spacer {
    margin: 20px 10px; /* Add margin to create spacing between buttons */
}

.breadcrumbs {
    display: flex;
    grid-gap: 6px;
}

    .breadcrumbs li a {
        color: var(--bs-primary-color);
    }

        .breadcrumbs li a.active, .breadcrumbs li.divider {
            color: grey;
            pointer-events: none;
        }

/*ALLOCATE CENTER*/
.search-container {
    margin-bottom: 20px;
}

/*USER MANAGEMENT*/

#search-bar {
    position: relative;
    vertical-align: top;
}

.user-photo {
    width: 25px;
    height: 25px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

    .user-photo img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

.user-container {
    margin: 10px;
    padding: 50px;
}

    .user-container .form-check {
        padding: 10px;
        margin-left: 30px;
    }

.form-only {
    padding: 30px;
}

.form-check-label {
    margin-top: 5px;
    margin-left: 10px;
}

.profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

/*DISASTER PROFILE*/

.content {
    position: relative;
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh -56px);
    overflow-y: auto;
    background: #fff;
}

    .content .head-title {
        display: inline;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;
    }

.description {
    display: none;
    margin-top: 10px;
    padding-left: 10px;
}

    .description p {
        margin: 5px 0;
    }

.input-group {
    display: inline-block;
}

#toggleButton {
    background: none;
    border: none;
    cursor: pointer;
}

.content .box-stat {
    display: flex;
    gap: 10px; /* Adjust the spacing between label-value pairs */
    color: gray;
}

.content .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
    margin-top: 36px;
}

    .content .box-info .info-item {
        padding: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 24px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .content .box-info p {
        margin: 0;
    }

    .content .box-info .info-item i {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content .box-info .info-item:nth-child(1) i {
        background: #FE83A1;
        color: #FFFFFF;
    }

    .content .box-info .info-item:nth-child(2) i {
        background: #7ABFFF;
        color: #FFFFFF;
    }

    .content .box-info .info-item:nth-child(3) i {
        background: #3CD856;
        color: #FFFFFF;
    }

    .content .box-info .info-item:nth-child(4) i {
        background: #BF83FF;
        color: #FFFFFF;
    }

.content main .table-data {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

    .content main .table-data > div {
        border-radius: 20px;
        background: var(--light);
        padding: 24px;
        overflow-x: auto;
    }


/*ENTRY LOG*/

.dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-primary-color);
}

/* Apply styles to the active link in the sidebar */
#sidebar .nav-link.active {
    font-weight: bold;
    color: var(--bs-primary-color);
}

/* Add hover effect to the links */
#sidebar .nav-link:hover {
    font-weight: bold;
    color: var(--bs-primary-color); /* Change the color on hover */
}