@page
@model AgapayAidSystem.Pages.Inventory.EditItemModel
@{
    ViewData["Title"] = "Edit Item";
}

<div class="container p-2 form-container">
    <div class="container mt-4 form-container-content">
        <div class="row">
            <div class="col text-center">
                <h1>Edit Item</h1>
                <h6 class="text-dark">Canned Goods</h6>
            </div>
        </div>

        <form method="POST">
            <div class="row mb-3 user-container">
                <label class="form-label" for="itemName">Item Name:</label>
                <input class="form-control" type="text" id="itemName" name="itemName" required><br><br>

                <label class="form-label" for="itemType">Type (Non Food or Food):</label>
                <input class="form-control" type="text" id="itemType" name="itemType" required><br><br>

                <label class="form-label" for="itemQty">Qty:</label>
                <input class="form-control" type="number" id="itemQty" name="itemQty" required><br><br>

                <label class="form-label" for="unitMeasure">Unit Measure:</label>
                <input class="form-control" type="text" id="unitMeasure" name="unitMeasure" required><br><br>

                <!-- CANCEL AND SAVE BUTTON -->
                <div class="button-spacer">
                    <a class="btn btn-outline-secondary mr-10" role="button">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary" id="submitBtn">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>