@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}

@if (Model.UserType == "Admin")
{
    Layout = "_Layout";
}
else if (Model.UserType == "LGU Staff")
{
    Layout = "_Layout - LGU";
}
else if (Model.UserType == "EC Staff")
{
    Layout = "_Layout - EC Staff";
}
else
{
    Layout = "_Login";
}

<style>
    form{
        padding: 0px;
    }

    .custom-background {
        background-image: url("/images/bgimg.jpg");
        background-size: cover;
        background-position: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
</style>

@if (Request.Query.ContainsKey("success"))
{
    <div class="alert alert-success" role="alert">
        Email sent successfully!
    </div>
}

@if (Request.Query.ContainsKey("error"))
{
    <div class="alert alert-danger" role="alert">
        Error sending email: @Request.Query["error"]
    </div>
}

<div class="container">
    <div class="pt-0 p-4 p-md-5 mb-4 text-white rounded text-center custom-background">
        <div class="col-md-6 mx-auto">
            <h1 class="pt-3"><img src="/white-logo-horizontal.png" alt="" id="logo"></h1>
            <p class="lead my-3">Together, we stand stronger in the face of adversity.</p>
        </div>
    </div>

    <div class="row g-2">
        <div class="col-md-8">
            <div class="container">
                <h2 class="pb-2 border-bottom">About Us</h2>
                <article class="about-us">
                    <p>
                        In response to the evolving challenges faced by disaster responders, Agapay Aid emerges as a pioneering solution inspired by the growing need for efficiency and precision in disaster relief efforts. Stemming from the lessons learned from the DSWD's Disaster Assistance Family Access Card (DAFAC) and acknowledging the drawbacks of paper-based systems, Agapay Aid steps forward as a transformative web-based application.
                        <br /> <br />
                        Initially designed to enhance the DSWD's profiling tool, Agapay Aid envisions a future where disaster relief is not hindered by administrative bottlenecks. The heart of our mission lies in streamlining the intricate web of tasks involved in managing evacuation centers, assigning staff, and ensuring the fair distribution of relief goods. Our web-based platform aims to alleviate the burdens of paperwork, limited coverage, and information management challenges faced by traditional systems.
                    </p>
                </article>
            </div>

            <div class="container">
                <h3 class="pb-2 border-bottom">Our Mission</h3>
                <article class="our-mission">
                    <p>
                        Our mission is to enhance the efficiency of evacuation center management and relief distribution, ensuring swift and equitable support for every affected individual.
                        We strive to provide real-time tracking, comprehensive evacuee management, and streamlined relief distribution.
                        By automating processes and centralizing information, AgapayAid aims to empower disaster responders with the tools they need to make a meaningful impact during critical times.
                    </p>
                </article>

            </div>
        </div>

        <div class="col-md-4">
            <div style="top: 2rem;">
                <div class="p-4 bg-light border rounded-3" style="vertical-align:middle">
                    <h3 class="pb-1">Did you know that...</h3>
                    <p class="mb-0">
                        In 2022, the World Risk Report listed the <b>Philippines as the 1st most disaster-prone country</b> because of its high risk, exposure, and vulnerability to
                        natural catastrophes and calamities such as earthquakes, typhoons, storm surges, tsunamis, volcanic eruptions, and flooding.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row g-4 text-center container">
        <h2 class="pb-2 border-bottom">Meet the Team</h2>

        <div class="col-lg-3 col-md-6">
            <img src="/images/tagala.png" alt="Agatha Gwen Tagala" class="bd-placeholder-img rounded text-center" width="150" height="150">
            <h5 class="pt-2 ">Agatha Gwen Tagala</h5>
            <p>Leader, Back-end Developer</p>
        </div>

        <div class="col-lg-3 col-md-6">
            <img src="/images/bartolome.jpg" alt="Ian Vincent Bartolome" class="bd-placeholder-img rounded text-center" width="150" height="150">
            <h5 class="pt-2">Ian Vincent Bartolome</h5>
            <p>Front-end Developer</p>
        </div>

        <div class="col-lg-3 col-md-6">
            <img src="/images/guzon.png" alt="Jeanne Margaret Guzon" class="bd-placeholder-img rounded text-center" width="150" height="150">
            <h5 class="pt-2">Jeanne Margaret Guzon</h5>
            <p>Front-end Developer</p>
        </div>

        <div class="col-lg-3 col-md-6">
            <img src="/images/sudaria.png" alt="Patrick Sudaria" class="bd-placeholder-img rounded text-center" width="150" height="150">
            <h5 class="pt-2">Patrick Sudaria</h5>
            <p>Technical Writer</p>
        </div>
    </div>

    <br />

    <div class="row align-items-center p-3 border rounded-3 bg-primary text-white container">
        <div class="col-lg-6 text-start">
            <h2 class="text-white pb-2 border-bottom">Contact Us</h2>
            <p class="col-lg-10">
                We appreciate your interest in connecting with us. If you have any inquiries, feedback, or collaboration proposals,
                please feel free to reach out to us through the following contacts:
            </p>
        </div>

        <br />

        <div class="mx-auto col-lg-6">
            <div class="text-start">
                <div class="row pt-3">
                    <h6 class="text-white"><i class="bi bi-envelope-fill pe-2"></i><b>Email Address</b></h6>
                    <p>
                        <a href="mailto:agapayaidproject@gmail.com" style="text-decoration:none; color:white">
                            agapayaidproject@gmail.com
                        </a>
                    </p>
                </div>

                <div class="row">
                    <h6 class="text-white"><i class="bi bi-telephone-fill pe-2"></i><b>Contact Number</b></h6>
                    <p>(+63) 927 161 9247</p>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="p-4">
                    <h4 class="fst-italic pb-1">Contact Us</h4>
                    <form id="contactForm">
                        <div class="mb-3">
                            <label class="form-label">Email address:</label>
                            <input type="email" class="form-control" id="InputEmail" asp-for="SenderEmail">
                            <div class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Name:</label>
                            <input class="form-control" id="InputName" asp-for="Name">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Message:</label>
                            <textarea class="form-control" id="InputMessage" asp-for="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>*@