@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}

<style>
    form{
        padding: 0px;
    }
</style>

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-primary text-center">
        <div class="col-md-6 mx-auto">
            <h1><img src="/white-logo-horizontal.png" alt="" id="logo"></h1>
            <p class="lead my-3">Together, we stand stronger in the face of adversity.</p>
            <a class="btn btn-outline-secondary text-white" href="#">Learn about Us</a>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3>About Us</h3>
            <article class="about-us">
                <p>
                    In response to the evolving challenges faced by disaster responders, Agapay Aid emerges as a pioneering solution inspired by the growing need for efficiency and precision in disaster relief efforts. Stemming from the lessons learned from the DSWD's Disaster Assistance Family Access Card (DAFAC) and acknowledging the drawbacks of paper-based systems, Agapay Aid steps forward as a transformative web-based application.
                    <br /> <br />
                    Initially designed to enhance the DSWD's profiling tool, Agapay Aid envisions a future where disaster relief is not hindered by administrative bottlenecks. The heart of our mission lies in streamlining the intricate web of tasks involved in managing evacuation centers, assigning staff, and ensuring the fair distribution of relief goods. Our web-based platform aims to alleviate the burdens of paperwork, limited coverage, and information management challenges faced by traditional systems.
                </p>

            </article>

            <h3>Our Mission</h3>
            <article class="our-mission">
                <p>
                    Our mission is to enhance the efficiency of evacuation center management and relief distribution, ensuring swift and equitable support for every affected individual. 
                    We strive to provide real-time tracking, comprehensive evacuee management, and streamlined relief distribution. 
                    By automating processes and centralizing information, AgapayAid aims to empower disaster responders with the tools they need to make a meaningful impact during critical times.
                </p>
            </article>

            <div>
                <h3>Meet the Team</h3>

                <div class="row g-3 p-5 text-center">
                    <div class="col-md-6">
                        <img src="/images/1.png" alt="Agatha Gwen Tagala" class="bd-placeholder-img rounded-circle" width="140" height="140">
                        <h5 class="pt-2">Agatha Gwen Tagala</h5>
                    </div>

                    <div class="col-md-6">
                        <img src="/images/guzon.png" alt="Jeanne Margaret Guzon" class="bd-placeholder-img rounded-circle" width="140" height="140">
                        <h5 class="pt-2">Jeanne Margaret Guzon</h5>
                    </div>

                    <div class="col-md-6">
                        <img src="/images/bartolome.jpg" alt="Ian Vincent Bartolome" class="bd-placeholder-img rounded-circle" width="140" height="140">
                        <h5 class="pt-2">Ian Vincent Bartolome</h5>
                    </div>

                    <div class="col-md-6">
                        <img src="/images/sudaria.jpg" alt="Patrick Sudaria" class="bd-placeholder-img rounded-circle" width="140" height="140">
                        <h5 class="pt-2">Patrick Sudaria</h5>
                    </div>
                </div>
            </div>  
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic pb-1">Do you know?</h4>
                    <p class="mb-0">
                        In 2022, the World Risk Report listed the <b>Philippines as the 1st most disaster-prone country</b> because of its high risk, exposure, and vulnerability to
                        natural catastrophes and calamities such as earthquakes, typhoons, storm surges, tsunamis, volcanic eruptions, and flooding.
                    </p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic pb-1">Contact Us</h4>
                    <form id="contactForm">
                        <div class="mb-3">
                            <label class="form-label">Email address:</label>
                            <input type="email" class="form-control" id="InputEmail">
                            <div class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Name:</label>
                            <input class="form-control" id="InputName">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Message:</label>
                            <input class="form-control" id="InputMessage">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>


</main>